@import "./variables.scss"; 

body{
    background-color: $color-bg;
}

h1, h2, h3, h4, h5, h6{
    color: $color-main;
}

a{
    color: $color-text;
    
    &:link,
    &:visited,
    &:hover,
    &:active {
      outline: none;
    }
}

.error{
    color: $color-error;
}

.float-l{
    float: left;
}

.float-r{
    float: right;
}

a{
    cursor: pointer;
    &.underline:hover{
        text-decoration: underline;  
    }
}

.btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 8px;
    font-size: 14px;
    line-height: 1.4286;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:active:focus, &:focus{
        outline: none;
    }

    &.btn-ok{
        color: #fff;
        background-color: $color-link;

        &:active{
            background-color: $color-link-active;
        }
    }

    &.btn-default{
        color: $color-text;
        background-color: $color-bg;
        border-color: $color-help;

        &:active{
            background-color: $color-help;
            color: $color-bg;
        }
    }
}

.clearfix{
    &:after{
        content: '';
        display: block;
        visibility: hidden;
        height: 0;
        clear: both;
    }
}

.none{
    display: none;
}

.hidden{
    visibility: hidden;
}