//公共基础变量
$font-family: Arial, 'Microsoft YaHei', 'Hiragino Sans GB', sans-serif;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-normal: 16px;
$font-size-big: 18px;

//行高
$line-height-small: 34px;
$line-height-base: 42px;
$line-height-normal: 48px;
$line-height-big: 50px;

//产品主色
$color-theme: #d82228;
$color-theme-tenda: #fd6900;
//按钮，图标颜色
$color-link: #7ed321;
$color-link-active: darken($color-link, 5%);
//常规内容文字颜色
$color-text: #616b72; 
//分割线，不可用，辅助，弱化信息颜色
$color-help: #a9b3bb;
//导航等重要信息颜色
$color-main: #1e282f;
//错误信息提示
$color-error: #ec1c3d;
//背景色
$color-bg: #eceff2;
//禁用deng
$color-disabled: #ccc;

//最小宽度
$min-width: 1220px;




