@import "./common/css/variables.scss";

body{    
    position: relative;
    min-width: $min-width;
    padding: 80px 0;
}

.head{
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
    border-bottom: 1px solid $color-theme;
    width: 100%;

    .container{
        height: 60px;
        line-height: 60px;
        font-size: $font-size-base;  
        width: $min-width;
        margin: 0 auto;

        a{
            font-size: 24px;
            color: #d82228;
            padding: 12px 244px 12px 0;
        }
    }

    .head-logo{
        height: 30px;
        margin-top: 15px;
    }
}

.main-content{
    width: $min-width;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;
    position: relative;

    .table-row{
        display: table-row;
    }

    .nav-wrapper{
        width: 202px;
        padding-bottom: 114px;
    }

    .content{
        width: 1000px;
        padding: 0 36px 36px;

        h1{
            padding: 24px 0;
            font-size: 24px;
        }
    }
}

.nav{
    padding: 4px 0 0;

    .item-wrapper{
        display: none;

        .nav-item{
            padding-bottom: 1px;
        }

        .item-text{
            padding-left: 40px;
            display: block;
            font-size: 16px;
            line-height: 60px;
            color: $color-main;
            height: 60px;
            white-space: nowrap;

            &.active{
                background-color: $color-theme;
                color: #fff;
            }
        }
    }
    .nav-group-title{
        padding-bottom: 1px;
        font-size: $font-size-normal;

        .group-text{
            padding-left: 30px;
            position: relative;
            display: block;
            line-height: 60px;
            height: 60px;
            white-space: nowrap;

            .nav-icon{
                position: absolute;    
                left: 19px;
                font-size: 22px;
                top: 50%;
                margin-top: -11px;
                color: $color-main;
            }

            label{
                color: $color-main;
                cursor: pointer;
            }
        }
    }

    .nav-group{
        &.active{
            .group-text{
                color: $color-theme;
                background-color: #fff;

                label,.nav-icon{
                    color: $color-theme;
                }
            }

            &.singel .group-text{
                color: #fff;
                background-color: $color-theme;

                label,.nav-icon{
                    color: #fff;
                }
            }
        }

        .nav-item.active .item-text{
            background-color: $color-theme;
            color: #fff;
        }
    }
}

.color-cell {
    background-color: #eceff2;
    width: 18px;
}

.table-cell {
    display: table-cell;
    position: relative;
    vertical-align: top;
}

.index-footer {
    padding: 30px 15px;
    position: absolute;
    bottom: 0;
    width: 100%;

    .copyright {
        text-align: center;
        color: $color-help;
        font-size: $font-size-base;
        line-height: 1.438
    }
}

.nav-top{
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid $color-bg;
}

.nav-bottom{
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid $color-bg;
}
