<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>my vue app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="message" placeholder="please enter something..." /> message: {{message}}
        </div>
        <div>
            <input type="text" v-model="name" placeholder="please enter something..." /> name: {{name}}
        </div>
        <pre>
            message: {{message}}
            name: {{name}}
        </pre>
    </div>
    <script src="bundle.js"></script>
</body>

</html>